@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 77px;

  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.container.visible {
  opacity: 1;
  transform: translateY(0);
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75;
  text-transform: capitalize;
}

.content {
  margin-top: 14px;
}

.educationHistory {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  flex-direction: column;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 24px;
}

.historyItemDetails {
  font-family: var(--font-roboto);
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 15px;
}

.educationHistoryTitle h3 {
  font-size: 30px;
  font-weight: 500;
}

.educationHistoryTitle p {
  font-size: 20px;
  font-weight: 300;
}

.logoStyle {
  width: 95px;
  height: 75px;
  object-fit: contain;
  border-radius: 0%;
}