@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 77px;

  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.container.visible {
  opacity: 1;
  transform: translateY(0);
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75;
  text-transform: capitalize;
}

.content {
  margin-top: 14px;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  flex-direction: column;
  background: #17172c;
  border: 0.1px solid #2d223d;
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
  border-radius: 16px;
  padding: 18px 36px;
  transition: all 0.5s ease-in-out;
}

.historyItem:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 50px 4px rgba(0, 0, 0, 0.6);
  filter: brightness(1.1);
}

.historyItemDesc {
  font-family: var(--font-roboto);
}

.historyItemDetails {
  font-family: var(--font-roboto);
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 18px;
  margin-bottom: 10px;
}

.fordLogo {
  width: 95px;
  height: 65px;
}

.dohaBankLogo {
  width: 75px;
  height: 60px;
  object-fit: contain;
}

.historyTitle h3 {
  font-size: 30px;
  font-weight: 500;
}

.historyTitle p {
  font-size: 20px;
  font-weight: 300;
}

.historyItemDesc ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 25px;
  list-style-type: disc;
  margin-left: 17px;
}

.historyItemDesc li {
  margin-bottom: 10px;
}